

:root {
    --body-background: #FFFF42
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background: var(--body-background);
}

* {
    box-sizing: border-box;}

img {
    max-width: 100%;
    height: auto;
}

.scroll {
    position: fixed;
    width: 100%;
    height: 120svh;
    overflow: auto;
    rotate: -15deg;
    translate: 0 -10svh;
    scale: 1.3;
    padding: 10% 15% 15% 15%;
    /* margin-top: 200px; */
    border: solid red 2px;
}
.scroll::-webkit-scrollbar {
    display: none;
}

.hero {
    display: flex;
    flex-direction: content-row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 80svh;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .hero { scale: .8;  }
}

@media (max-width: 900px) {
    .hero { scale: .6; }
}

@media (max-width: 767px) {
    .hero { scale: .5; }
}
@media (max-width: 510px) {
    .hero { scale: .4; }
}
@media (max-width: 300px) {
    .hero { scale: .3; }
}




.column {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-vertical {
    transform: rotate(90deg);
    display: flex;
    justify-content: space-between;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
    }

    .title h1 {
        font-size: 4.8rem;
        position: absolute;
        margin: 0;
        white-space: nowrap;
    }

}

.hero h1,
.hero h2 {
    white-space: nowrap;
}

.hero h1 {
    font-family: "roc-grotesk-variable", sans-serif;
    font-size: 60pt;
    font-weight: 750;
}

.hero h2 {
    font-family: "roc-grotesk-variable", sans-serif;
    font-stretch: condensed;
    font-weight: 750;
    font-size: 4.2rem;
    font-weight: 600;
    color: #00AE8F;
    /* -webkit-text-stroke: black 2px; */
    text-shadow: #FAFBE7 -0.4rem -0.4rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero h3 {
    font-family: "geneo-std", serif;
    font-size: 2rem;
    line-height: 0;
    font-weight: 600;
    text-shadow: #FAFBE7 0.4rem 0.4rem;
    color: #C51A7D;
    margin: 0;
    margin-bottom: 3rem;
}

.text-stack {

    display: flex;
    flex-direction: column;


    h1 {
        font-size: 10rem;
        line-height: 100pt;
        margin: 0;
    }

    .title {
        margin-bottom: 8rem;
    }

    .title h1 {
        position: absolute;
    }
}


.text-black {
    color: #000000;
    z-index: 3;
}

.drop-shadow-a1 {
    color: transparent;
    text-shadow: #00AE8F -0.8rem 0;
    mix-blend-mode: plus-lighter;
    z-index: 1;
}

.drop-shadow-a2 {
    color: transparent;
    text-shadow: #C51A7D 0.8rem 0;
    mix-blend-mode: plus-lighter;
    z-index: 2;
}

.drop-shadow-a-bg {
    color: black;
    text-shadow: #000000 0.8rem 0, #000000 -0.8rem 0;
}

.drop-shadow-b1 {
    color: transparent;
    text-shadow: #00AE8F 0 -0.4rem;
    mix-blend-mode: plus-lighter;
    z-index: 1;
}

.drop-shadow-b2 {
    color: transparent;
    text-shadow: #C51A7D 0 0.4rem;
    mix-blend-mode: plus-lighter;
    z-index: 2;
}

.drop-shadow-b-bg {
    color: transparent;
    text-shadow: #000000 0 0.4rem, #000000 0 -0.4rem;
}

.text-outline {
    color: transparent;
    -webkit-text-stroke: black 2px;
    z-index: 6;
}

.text-white {
    color: #FAFBE7;
    font-stretch: semi-condensed;
    z-index: 5;
}

.nma-logo {
    width: 6rem;
    height: auto;
    margin: 0 auto;
}


.bg-black {
    background-color: #000000;
    fill: #000000;
}

.bg-green {
    background-color: #00AE8F;
    fill: #00AE8F;
}

.bg-magenta {
    background-color: #C51A7D;
    fill: #C51A7D;
}

.bg-white {
    background-color: #FAFBE7;
    fill: #FAFBE7;
}

.bg-yellow {
    background-color: #FFFF42;
    fill: #FFFF42;
}

/* GOO BACKGROUND STYLING */
/* Original Source: Gooey Pixels https://codepen.io/pixelomo/pen/VavmKK by Pixelmo */
body:has(.goo-background) { margin: 0; }
html:has(.goo-background), body:has(.goo-background) { height: 100%; }

.goo-background {
    display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.goo-background svg {
    margin: 0;
    display: block;
    filter: url("#goo");
}

/* TEMP SECTION */
section {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* rotate: 15deg; */
}

#studentnav {
    height: auto;
    min-height: auto;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 500;
    width: 20%;
    text-align: right;
    rotate: -15deg;
    translate: 0 -50%
}

#studentnav ul,
#studentnav li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#studentnav ul {
    margin: 1em 0;
}
#studentnav ul ul {
    margin: 0;
}

.studentbox {
    /* rotate: 15deg; */
    max-width: 90%;
    /* margin-inline: auto; */
    padding-left: 20%;
}
